<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration SYSTEM "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
  <!-- 配置运行环境:设置数据库连接 ,default：使用哪一个数据库连接-->
  <!-- 数据库的环境   default="使用哪个环境" -->
       <environments  default="oracle">
             <!-- 具体的数据库环境 -->
       		<environment id="oracle">
       			<!-- 配置事务  
       					JDBC:在代码中手动提交事务：sqlsession.commit()    增删改
       					Managed:MyBatis自己不负责事务，交给其他容器来控制：比如Spring		
       			 -->
       			<transactionManager type="JDBC"></transactionManager>
       			<!-- 
       				配置数据源
       					type: unpooled: 每次请求都创建sessionn和关闭sessio，速度比较慢
       							  pooled:采用连接池
       							  jndi:使用其他容器的数据源：比如Spring的数据源
       			 -->
       			<dataSource type="pooled">
       				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
       				<property name="url" value="jdbc:oracle:thin:@localhost:1521:orcl"/>
       				<property name="username" value="scott"/>
       				<property name="password" value="tiger"/>
       			</dataSource>
       		</environment>
       		
       		
       </environments>

		<!--映射文件  -->
		<mappers>
		
		  <mapper resource="CustomerMapper.xml"/>
		</mappers>
		                      
</configuration>